<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OPENAI_API_KEY" value="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" />
		<add key="SPEECH_KEY" value="9abb06bd923b40fc9b99692bc077c9e9" />
		<add key="SPEECH_REGION" value="westeurope" />
	</appSettings>
</configuration>